<!DOCTYPE html>
<html>

<head>
    <title>Item - {{itemName}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            background-color: #fff;
            border: 1px solid #ddd;
            border-collapse: collapse;
        }

        th {
            background-color: #f5f5f5;
            color: #555;
            font-weight: bold;
            padding: 10px;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            /* Alineación a la izquierda */
        }

        .headerItems {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    </style>
</head>

<body>
    <div class="headerItems">
        <h1>{{itemName}}</h1>
        <button id="addButton" class="add-button">Agregar</button>
    </div>
    <div id="cargaDatos" style="display: none;">
        <form id="addItemForm" action="/admin/item/{{itemName}}/insert" method="POST">
            <input type="text" name="imagen" placeholder="Imagen" value="{{imagen}}">
            <input type="text" name="descripcion" placeholder="Descripción" value="{{descripcion}}">
            <input type="text" name="titulo" placeholder="Título" value="{{titulo}}">
            <button id="botoncito" class="add-button">Agregar</button>
        </form>
    </div>
    <div id="actualizarDatos" style="display: none;">
        <form id="editItemForm" action="/admin/item/{{itemName}}/update" method="POST">
            <input type="text" name="id" placeholder="id" style="display: none;" value="{{id}}">
            <input type="text" name="imagen" placeholder="Imagen" value="{{imagen}}">
            <input type="text" name="descripcion" placeholder="Descripción" value="{{descripcion}}">
            <input type="text" name="titulo" placeholder="Título" value="{{titulo}}">
            <button id="botoncito" class="add-button">Confirmar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                {{#each columnNames}}
                <th>{{this}}</th>
                {{/each}}
                <th class="actions-cell">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
                <td class="actions-cell">
                    <button class='editButton' data-imagen="{{imagen}}" data-descripcion="{{descripcion}}"
                        data-titulo="{{titulo}}" type="button">Editar</button>
                    <form action="/admin/item/{{../itemName}}/delete/{{this.id}}" method="POST">
                        <button type="submit" class="delete-button">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addButton = document.getElementById('addButton');
        var content = document.getElementById('cargaDatos');

        var editButtons = document.getElementsByClassName('editButton');
        var contentEdit = document.getElementById('actualizarDatos');
        var imagenInput = document.querySelector('#actualizarDatos input[name="imagen"]');
        var descripcionInput = document.querySelector('#actualizarDatos input[name="descripcion"]');
        var tituloInput = document.querySelector('#actualizarDatos input[name="titulo"]');
        var idItemInput = document.querySelector('#actualizarDatos input[name="id"]');
        addButton.addEventListener('click', function () {
            if (content.style.display === 'none') {
                content.style.display = 'block';
                addButton.textContent = 'Cancelar';
            } else {
                content.style.display = 'none';
                addButton.textContent = 'Agregar';
            }
        });

        for (var i = 0; i < editButtons.length; i++) {
            editButtons[i].addEventListener('click', function () {
                var imagen = this.getAttribute('data-imagen');
                var descripcion = this.getAttribute('data-descripcion');
                var titulo = this.getAttribute('data-titulo');
                var row = this.parentNode.parentNode; // Obtener la fila que contiene el botón de edición
                var idItem = row.cells[0].textContent; // Obtener el valor de la primera celda (ID)

                console.log(idItem);
                if (contentEdit.style.display === 'none') {
                    contentEdit.style.display = 'block';
                    imagenInput.value = imagen;
                    descripcionInput.value = descripcion;
                    tituloInput.value = titulo;
                    idItemInput.value = idItem;
                    
                } else {
                    contentEdit.style.display = 'none';
                }
            });
        }
    });
</script>

</html>